@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Kiona';
    src: url('fonts/Kiona/Kiona-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Kiona';
    src: url('fonts/Kiona/Kiona-SemiBold.ttf') format('truetype');
    font-weight: semi-bold;
}

@font-face {
    font-family: 'Kiona';
    src: url('fonts/Kiona/Kiona-Bold.ttf') format('truetype');
    font-weight: bold;
}

*,
root {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: unset;
}

.MuiDivider-root {
    margin-block: 15px !important;
}

.root {
    min-height: calc(100vh - 75px);
    padding-inline: 24px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.warning {
    color: red;
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline: 5px;
}

.warning button {
    margin-top: 15px;
}
